<h3>You can solve you Problem like:</h3>
<hr/>

<div class="row">
  <div class="col-md-12">
    <span><%=@message.text %></span>
    <hr>
    <h3><strong>Step to fix problem</strong></h3>
    <span><%=@message.reply %></span>
  </div>
</div>
