<h3>We has new Questions from user</h3>
<span><%=@message.user.email %> <%=@message.user&.full_name %></span>
<hr/>

<div class="row">
  <div class="col-md-12">
    <span><%=@message.title %></span>
    <span><%=@message.text %></span>
    <span>Please wait when we can help you and send step to fix you problem</span>
  </div>
</div>
