<p>Hello <%= @user.email %>!</p>

<p><%="Thanks for registration in our #{Rails.configuration.application_name}."%></p>

<span>You can send Request for support and we help you with you Question</span>
