<div class="info-block">
  <%- flash.each do |type, message| %>
    <div class="row flash-message">
      <div class="col-md-12">
        <div class=<%="alert alert-#{alert_type(type)} alert-dismissible fade in"  %>, role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%- flash.clear %>
</div>
