<div class="row col-lg-12 col-md-12">
  <div class="alert alert-info" role="alert">
  <p class="alert"><%= alert %></p>
  </div>
  <div class="alert alert-light" role="alert">
    <p class="notice"><%= notice %></p>
  </div>
  <hr/>
</div>
